/* .screen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center center;
} */

/* .screenWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
} */

.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

/* .screen::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

.screenInner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
} */

.backLink {
  position: absolute;
  top: 2vw;
  left: 2vw;
  color: var(--b-gray200);
  font-size: var(--h6-size);
  font-weight: 700;
}
.backArrow{
  display: inline-block;
  width: 4rem;
  height: 4rem;
  border: 5px solid;
  border-color:  transparent transparent var(--b-gray200) var(--b-gray200);
  transform: rotate(45deg);
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100vw; */
  margin: 8vw 8vw;
}

.turnButton {
  margin: 0 4vw;
  width: 6vw;
  height: 10vw;
  border-radius: 60%;
  background-color: var(--b-gray200);
}

.centerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 60vw;
  height: 84vh;
  max-width: 1080px;
}

.imgBlock {
  position: relative;
  width: 100%;
}

.imgBlock::before {
  content: "";
  display: block;
  padding-top: 66.66%;
}

.imgBlockInner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* .imgBlock {
  position: relative;
  width: 100%;
  overflow: hidden;
  flex-shrink: 1;
} */
.imgBlockInner > div {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.borderBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vw 0;
}

.borderBlock h2 {
  margin: 0 1vw;
  max-width: 50%;
  font-size: var(--h5-size);
}

.borderBlock::after, .borderBlock::before {
  content: "";
  flex-grow: 1;
  display: block;
  border: 0.4px solid var(--c-base-black);
}

.pageNumber {
  margin: 0 2vw;
}

@media (max-width: 768px) {
  .turnButton {
    display: none;
  }

  .centerContent {
    width: 100vw;
    justify-content: space-around;
  }
  
  .borderBlock {
    /* 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vw 0;
    height: 10vh; 
    */
  }
}


/* //memo */
#parent {
  position: relative;
  width: 100%;
}

#parent:before {
  content: "";
  display: block;
  padding-top: 75%;
}

#child {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
