
.mePage {
    /* max-width: 80%; */
    max-width: 720px;
    margin: auto;
    padding: 0 4%;
    /* padding-bottom: 120px; */
    font-size: 16px;
}

.mePage small{
    display: block;
    margin-top: 36px;
    margin-bottom: 8px;
    color: var(--c-middle-gray);
    font-family: var(--f1-family);
    font-weight: 700;
    line-height: 100%;
    font-size: 20px;
}

.mePage h2 {
    font-family: var(--f1-family);
    color: var(--c-middle-black);
    font-style: italic;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    margin: 0;
    margin-top: 10px;
    text-align: center;
}

.mePage h3 {
    /* color: var(--c-middle-black); */
    /* font-family: var(--f3-family); */
    /* font-weight: 700; */
    font-size: 24px;
    line-height: 100%;
    margin: 0;
    margin-right: 16px;
}

.jobContent {
    display: inline;
}
.jobContentSmall {
    font-size: 12px;
}

.mePage small {
    display: block;
}


.introduction {
    /* margin-top: 28px; */
}

.historyList {
    /* font-size: 16px; */
}

@media (max-width: 768px) {
    .mePage small.primaryWord {
        font-size: 16px;
    }
    .mePage small {
        font-size: 12px;
    }

    .mePage h2 {
        font-size: 24px;
    }
    .historyList {
        font-size: 16px;
    }
}

.linkText {
    /* text-decoration: underline; */
    padding: 0;
    border-bottom: 1px solid var(--c-middle-gray);
}
