.previewTitle {
  font-size: 1.5em;
}

.preview {

  /* width: 80vw; */
  height: 800px;
}

.imgArea{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.imgBlock{
  flex-grow: 1;
}

img {
  width: 40%;
}

.tag {
  color: #a0a0a0;
  text-decoration: none;
  display: inline-block;
  padding: 0.33333rem 0.5rem;
  line-height: 1;
  border-radius: 2px;
  border: 1px solid #a0a0a0;
  margin-right: 0.5em;
}
