:root {
  --article-img-width: 64vw;
  --article-img-height: 42.66vw;
  --side-w: 16rem;
  overflow-x: hidden;
}

.previewTitle {
  margin-top: 4px;
  margin-bottom: 64px;
  font-size: 1em;
  text-align: center;
}

.preview {
  margin: 0 16rem;
}

.headBlock {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgItem {
  position: relative;
  width: var(--article-img-width);
}

.imgItem::before {
  content: "";
  display: block;
  padding-top: 66.66%;
}

.imgItemInner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.leftItem,
.rightItem {
  width: var(--side-w);
  height: var(--side-w);
  color: var(--c-middle-gray);
  font-size: var(--h3-size);
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 800;
  /* line-height: 100%; */
}

.leftItem {
  /* transform: translate(0, calc( -1 * (var(--article-img-height) / 2) )); */
  transform: translate(calc( -1 * (var(--article-img-height) / 2) + var(--side-w) / 2 ), 0);
}
.leftItem > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(var(--article-img-height) * 1.00);
  /* transform-origin: calc(var(--side-w)/2) calc(var(--side-w)/2); */
  transform-origin: 51% calc(var(--side-w)/2);
  transform: rotate(90deg);
}
.leftItem small {
  flex-grow: 1;
  /* vertical-align: text-top; */
}
.leftItem small:nth-child(2) {
  flex-grow: 1;
  text-align: right;
}

.rightItem > small {
  display: inline-block;
  width: calc(var(--article-img-height) / 2 - 8rem);
  transform-origin: 16rem 50%;
  transform: rotate(90deg);
  text-align: right;
  font-size: var(--h4-size);
  font-weight: bold;
}

img {
  /* width: 40%; */
}

.tag {
  color: #a0a0a0;
  text-decoration: none;
  display: inline-block;
  padding: 0.33333rem 0.5rem;
  line-height: 1;
  border-radius: 2px;
  border: 1px solid #a0a0a0;
  margin-right: 0.5em;
}
