:root {
}

.box {
  margin: 48rem 0;
}

.title {
  margin: 0;
  font-family: var(--f3-family);
  font-size: var(--h3-size);
  font-weight: 700;
  text-decoration: underline;
  /* text-decoration-color: black;*/
}
.title:hover {
  text-decoration: none;
}

.tag {
  margin-right: 10rem;
  display: inline;
  text-decoration: underline;
}

.date {
  color: var(--color-font-sub);
}
