.backgroundPatternWrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  /* width: 100vw; */
}

.betweenPattern {
  flex-grow: 1;
}

.patternFilm {
  width: 240px;
  min-width: 120px;
  background: repeating-linear-gradient(transparent 0px, var(--b-gray100) 0px, var(--b-gray100) 240px, transparent 240px, transparent 280px);
  flex-shrink: 1;
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  .patternFilm {
    display: none;
  }
}

.topButtonBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--c-light-gray);
  font-weight: 700;
  height: 240px;
}

.upForwardMark {
  width: 20rem;
  height: 20rem;
  border: 5px solid;
  border-color: var(--c-light-gray) var(--c-light-gray) transparent transparent;
  transform: rotate(-45deg);
}

.topText {
  top: -20px;
}
