.backgroundPatternWrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  /* width: 100vw; */
}

.betweenPattern {
  flex-grow: 1;
}

.patternFilm {
  --pattern-width: 16vw;
  width: var(--pattern-width);
  /* min-width: 120px; */
  background: repeating-linear-gradient(
    transparent 0px,
    var(--b-gray100) 0px,
    var(--b-gray100) var(--pattern-width),
    transparent var(--pattern-width),
    transparent calc(var(--pattern-width) * 1.16)
  );
  flex-shrink: 1;
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  .patternFilm {
    display: none;
  }
}

.topButtonBlock {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--c-light-gray);
  font-weight: 700;
  height: calc(var(--pattern-width));
  font-size: 16rem;
}

.upForwardMark {
  flex-shrink: 1;
  width: 16rem;
  height: 16rem;
  border: 4rem solid;
  border-color: var(--c-light-gray) var(--c-light-gray) transparent transparent;
  transform: rotate(-45deg);
}

.topText {
  /* position: absolute; */
  top: 0;
}
