.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200rem;
  margin-bottom: 56px;
  width: 100%;
  font-size: 16rem;
  font-weight: 700;
}
@media (max-width: 768px) {
  .footer {
    margin-bottom: 8px;
  }
}

.partition {
  display: block;
  width: 3.2rem;
  height: 20rem;
  background-color: var(--c-base-black);
  /* border-left: 4px solid var(--c-base-black); */
  content: '';
}

.item {
  padding: 0;
  width: 160rem;
  text-align: center;
}

.item:nth-child(1) {
  text-align: right;
  padding-right: 40rem;
}
.item:nth-child(3) {
  text-align: left;
  padding-left: 40rem;
}
