.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 160px;
  margin-bottom: 56px;
  width: 100%;
  font-size: 20rem;
  font-weight: 700;
}
@media (max-width: 768px) {
  .footer {
    margin-bottom: 8px;
  }
}

.partition {
  display: block;
  width: 3.2rem;
  height: 40rem;
  background-color: var(--c-base-black);
  /* border-left: 4px solid var(--c-base-black); */
  content: '';
}

.item {
  padding: 0;
  width: 160rem;
  text-align: center;
}
