.navigation {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  margin: 4vmin 10vmin;
  height: 20vh;
  max-height: 100px;
  font-family: var(--f3-family);
  font-size: var(--h1-size);
  font-weight: 500;
}

.navigationItem {
  display: inline-flex;
  align-items: center;
  margin: 0 1em;
}

.navigationItem a {
  color: currentColor;
}

@media (max-width: 768px) {
  .navigation {
    margin: 2vmin 4vmin;
    justify-content: space-between;
    font-size: var(--h1-size);
  }
}